package pages

import "github.com/immanuel-254/myauth-frontend/components"

templ LoginPage() {
      <div class="absolute right-4 top-2 text-lg me-10"><!--ModeToggle--></div>
      @components.LoginForm()
}
